---
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'

const MAX_POSTS = 5 // max number of posts to show on the home page
const posts = await getPosts(MAX_POSTS)
---

<BaseLayout title='Home'>
	<TitlePage title='SmartAI' />
	<ListCategories />

	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Latest Posts</h2>
		<ListPosts FirstBig={true} posts={posts} />
	</div>
	<!-- 在模板文件中添加统计代码 -->
	<script>
		;(function (c, l, a, r, i, t, y) {
			c[a] =
				c[a] ||
				function () {
					;(c[a].q = c[a].q || []).push(arguments)
				}
			t = l.createElement(r)
			t.async = 1
			t.src = 'https://www.clarity.ms/tag/' + i
			y = l.getElementsByTagName(r)[0]
			y.parentNode.insertBefore(t, y)
		})(window, document, 'clarity', 'script', 'k56ohtr6tn')
	</script>
	<!-- 谷歌广告 -->
	<script
		async
		src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6736001059793962'
		crossorigin='anonymous'></script>
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
