---
const today = new Date()
---

<footer class='flex justify-center items-center w-full h-28 border-t-2'>
	&copy; {today.getFullYear()}{'-'}
	<a href='https://jingle.bio/liuziting/' target='_blank' rel='noopener noreferrer'> liuziting</a>.
	All rights reserved.
</footer>
